.currencyContainer {
  width: 100vw;
  height: 100vh;
  display: fleX;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.convertor {
  float: right;
  margin: 10px;
  position: absolute;
  top: 0;
  right: 0;
}
